apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ cert_name }}
  namespace: {{ namespace }}
spec:
  secretName: {{ secret_name }}
  issuerRef:
    name: {{ issuer_name }}
    kind: ClusterIssuer
  commonName: {{ host }}
  dnsNames:
  - {{ host }}
